*{
  margin: 0;
  padding: 0;
}

hr {
  background-color: #fff;
  margin-bottom: .5em;
  border-top: 0;
  border-bottom: 1px solid #8e8e8e;
  margin-top: 0;
  padding-top: 1.25em;
}

.page {
  display: flex;
  flex-direction: row;
}

.map {
  padding-top: 50px;
  width: 50vw;
  height: calc(100vh - 50px);
  z-index: 1;
  overflow: hidden;
}

.mapa {
  width: 50vw;
  height: calc(100vh - 50px);
  z-index: 1;
  overflow: hidden;
}

.fixed {
  position: fixed;
}

.map-config {
  z-index: 2;
  position: fixed;
  color: #e2e0e0;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: .8em;
  transition: transform 250ms ease-in-out;
  border: solid 1px rgba(0, 0, 0, 0.5);
  border-bottom: none;
}

.map-config-header {
  background-color: rgba(9, 9, 9, 0.8);
  padding: .5em 1em .5em 1em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

.map-config-header p {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

.map-config-header p::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: .5em;
}

.map-config-header p::after {
  content: "\f077";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 1em;
  transition: transform 250ms 250ms ease-in-out;
}

.map-config.active .map-config-header p::after {
  transform: rotate(180deg);
}


.legend {
  width: 12em;
  transform: translateY(120px);
}

.legend.active {
  transform: translateY(0);
}

.legend-header p::before {
  content: "\f03a";
}

.legend-body {
  display: flex;
  flex-direction: column;
  padding: .5em 1em .5em 1em;
  height: 120px;
}

.legend-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-around;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.select {
  display: flex;
  flex-direction: column;
  width: 20em;
  transform: translateY(240px) translateX(12em);
}

.select.active {
  transform: translateY(0) translateX(12em);
}

.select-header p::before {
  content: "\f0ad";
}

.select-body {
  padding: .5em 1em .5em 1em;
  height: 240px;
  overflow: auto;
}

.select-body p {
  font-weight: bold;
}

.select-body li {
  display: inline-flex;
  align-content: center;
}

input[type="radio"] {
  margin-right: .25em;
}

.info {
  padding-left: 2vw;
  padding-right: 1vw;
  margin-top: 50px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
}

.info-text {
  width: 47vw;
  height: auto;
}

.btn-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  width: 33%;
  border-top: 0;
  border-bottom: 0;
  border-left: 1px;
  border-right:0;
  border-style: solid;
  border-color: #cdcdcd;
  background-color: #fff;
  color: #8e8e8e;
  bottom: -15px;
  position: relative;
  font-family: 'Raleway', sans-serif;
}

.button:hover {
  font-weight: bold;
}

.button:first-child {
  border-left: 0;
}

.name {
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.25em;
  background-color: #fff;
  z-index: 2;
}

#search-name {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
}

#labelOverlay {
  text-align: center;
  cursor: default;
}

#labelOverlay p.n_procedures {
  font-size: 1.8em;
  color: #8e8e8e;
  width: 100%;
  line-height: 0.5;
}

#labelOverlay p.atendimentos {
  line-height: 0.5;
  font-size: 1em;
  color: #cdcdcd;
  width: 100%;
  margin-bottom: 0;
}

.hosp-info-text {
  max-height: 300px;
  transition: max-height 300ms;
  z-index: -1;
}

.hosp-info-text.active {
  max-height: 0;
  overflow: hidden;
}

.grafico {
  width: 47vw;
  flex: 1 1 auto;
}

.sources {
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 100;
  margin-bottom: 0;
  padding-left: .5em;
}

.sources-text {
  color: gray;
}

.heatmap-legend {
  display: none;
  visibility: hidden;
}

.select-body {
  height: 300px !important;
  z-index: 2;
}

.select.translateX-legendsize {
  transform: translateY(300px) translateX(12em) !important;
}

.select.active.translateX-legendsize {
  transform: translateY(0) translateX(12em) !important;
}

@media (orientation: portrait){
  .page {
    flex-direction: column;
  }

  .mapa, .map {
    width: calc(100vw - (100vw - 100%));
    position: relative;
  }

  .map {
    height: calc(40vh + 50px);
  }

  .mapa {
    height: 40vh;
  }

  .info {
    width:  calc(100vw - (100vw - 100%));
    height: calc(60vh - 50px);
    padding: 0 1vw 0 1vw;
  }

  .info-text {
    width: inherit;
  }

  .grafico {
    width: inherit;
  }

  .map-config {
    position: absolute !important;
  }

  .info {
    margin-top: 0;
  }
}
